.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: .25rem;
}

.dashboards {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dashboards > div { 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logOut {
    align-self: flex-end;
    /* position: fixed;
    margin-top: 10;
    right: 10; */
}