.crypto-card {
    max-width: 15rem;
    transition: all .2s ease-in-out;
    margin: 1rem;
}

.crypto-card:hover {
    transform: scale(1.1); 
}

.crypto-card-action, .prices {
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.crypto-card-action{
    background-color: #75c0c4c2;
}