.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: .5rem;
}

.dashboards {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dashboards > div { 
    display: flex;
    align-items: center;
    flex-direction: column;
}